{% extends 'base.html' %}
{% block content %}   
<header class="company-masthead">
  <div class="container h-50 align-items-center justify-content-center">    
      <h1 class="text-white font-weight-bold text-center">会社概要</h1>
      <hr class="my-4"/>
  </div>
</header>

<table class="table table-hover container my-5 text-center">
  <tbody>
    <tr>
      <th scope="row">会社名</th>
      <td>株式会社 長町研磨</td>
    </tr>
    <tr>
      <th scope="row">本社住所</th>
      <td>岡山県岡山市南区新福1-8-4</td>
    </tr>
    <tr>
      <th scope="row">代表者</th>
      <td>代表取締役社長 　長町 拓哉</td>
    </tr>
    <tr>
      <th scope="row">電話番号 / FAX </th>
      <td><a href="tel:086-264-4111">086-264-4111</a> / 086-264-3909</td>
    </tr>
    <tr>
      <th scope="row">創業</th>
      <td>1960年</td>
    </tr>
    <tr>
      <th scope="row">資本金</th>
      <td>1000万円</td>
    </tr>
    <tr>
      <th scope="row" class="pt-5">事業内容</th>
      <td>裁断刃、工業刃物の再研磨<br>
        新品・中古裁断機の販売及びメンテナンス<br>
      <a href="http://www.katsuda-works.co.jp/" target="_blank">(勝田製作所販売代理店)</a><br>
        印刷関連等の材料販売</td>
    </tr>
    <tr>
      <th scope="row">取引金融機関</th>
      <td>中国銀行 / 三井住友銀行 / 岡山信用金庫</td>
    </tr>
    <tr>
      <th scope="row">営業時間/休日</th>
      <td>8:15〜17:00/土日祝</td>
    </tr>
    {% comment %} <tr>
      <th scope="row">その他/テクノロジー事業</th>
      <td><a href="https://digital-tree.xyz/" target="_blank">©︎ Digital Tree</a></td>
    </tr> {% endcomment %}
  </tbody>
</table>

<div class="related__company">
<h2 class="text-center mb-3">取引先一覧<span style="font-size: 15px;">(敬称略/順不同)</span></h2>

<table class="table table-borderless">
  <tbody>
    <tr>
      <td class="text-center"><a href="https://www.dnp.co.jp/" target="_blank">大日本印刷</a></td>
      <td class="text-center"><a href="http://www.katsuda-works.co.jp/" target="_blank">勝田製作所</a></td>
      <td class="text-center"><a href="http://www.okayamaseishi.co.jp/" target="_blank">岡山製紙</a></td>
    </tr>
    <tr>
      <td class="text-center"><a href="https://www.okr-ind.co.jp/" target="_blank">オークラプロダクツ</a></td>
      <td class="text-center"><a href="http://www.ohinasama.jp/index.html" target="_blank">日本貿易産業</a></td>
      <td class="text-center"><a href="http://www.sid-soken.jp/" target="_blank">SID創研</a></td>
    </tr>
    <tr>
      <td class="text-center"><a href="http://www.toyoknife.co.jp/" target="_blank">東洋刃物</a></td>
      <td class="text-center"><a href="http://okayama-kami.co.jp/" target="_blank">岡山紙商事</a></td>
      <td class="text-center"><a href="https://www.fukuda-web.co.jp/" target="_blank">福田刃物</a></td>
    </tr>
    <tr>
      <td class="text-center"><a href="https://www.kenseido.co.jp/" target="_blank">研精堂印刷</a></td>
      <td class="text-center"><a href="http://www.asahi-housou.jp/" target="_blank">旭包装</a></td>
      <td class="text-center"><a href="https://www.meditec-japan.co.jp/" target="_blank">メディテックジャパン</a></td>
    </tr>
    <tr>
      <td class="text-center"><a href="http://www.shinko-pt.co.jp/" target="_blank">シンコー印刷</a></td>
      <td class="text-center"><a href="https://www.e-books.co.jp/" target="_blank">ブックス</a></td>
      <td class="text-center"><a href="/">西日本果実袋</a></td>
    </tr>
  </tbody>
</table>
<p class="text-center text-secondary">その他多数、、、</p>
      
</div>
     
{% endblock %}   
