{% extends 'base.html' %}
{% block content %}   
<header class="saidanki-masthead">
  <div class="container h-50 align-items-center justify-content-center">    
      <h1 class="text-white font-weight-bold text-center">裁断機</h1>
      <hr class="my-4" />
  </div>
</header>

<div class="container">
  <div class="row my-5">
    <div class="card my-2 col-md-6 col-9 mx-auto px-0">
      <img src="/static/img/service/in-dansai1.jpg" class="card-img-top" alt="裁断機の運搬から設置">
    </div>
    <div class="card my-2 col-md-6 col-9 mx-auto px-0">
      <img src="/static/img/service/in-dansai2.jpg" class="card-img-top" alt="裁断機の修理">
    </div>
    <div class="card my-2 col-md-6 col-9 mx-auto px-0">
      <img src="/static/img/service/in-dansai3.jpg" class="card-img-top" alt="裁断機の運搬から設置">
    </div>
    <div class="card my-2 col-md-6 col-9 mx-auto px-0">
      <img src="/static/img/service/in-dansai4.jpg" class="card-img-top" alt="裁断機の修理">
    </div>
  </div>
</div>
{% endblock %}   
