{% extends 'base.html' %}
{% block content %}   
<header class="service-masthead">
  <div class="container h-50 align-items-center justify-content-center">    
      <h1 class="text-white font-weight-bold text-center">新刃</h1>
      <hr class="divider my-4" />
  </div>
</header>

<!-- Large modal -->
<button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
  <div class="card">
    <img class="card-img-top" src="/static/img/service/other/other1.jpg" alt="Card image cap">
    <div class="card-body"> Some more card content </div>
  </div>
  
</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <img class="card-img-top" src="/static/img/service/other/other1.jpg" alt="Card image cap">

    </div>
  </div>
</div>

{% endblock %}   
<script>

</script>