{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="新刃(粉砕、スリッター、裁断、その他の刃物)の販売から、再研磨なら岡山に拠点を置く長町研磨にお任せ！高品質、迅速に対応いたします。"/>
   <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
   <title>(株)長町研磨-Official WebSite-</title>
   <link rel="icon" type="image/x-icon" href="img/service/favicon.ico">
   <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
 </head>
 <body>
 {% include 'header.html'%}
   {% block content %} 
   {% endblock %} 
  {% include 'footer.html'%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
 </body>
</html>