  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'kenma_app:index' %}"><img class="rounded mb-1" src="/static/img/naga_ken_logo.jpeg" alt="長町研磨のロゴ" width="45" height="45"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger text-danger" href="{% url 'kenma_app:service' %}">⚠︎本社移転について⚠︎</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'kenma_app:service' %}">事業内容</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'kenma_app:company' %}">会社概要</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'kenma_app:contact' %}">お問い合わせ</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger insta" href="https://www.instagram.com/nagamachi_kenma/" target="blank"><i class="fab fa-instagram fa-lg"></i> Instagram</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger twitter" href="https://twitter.com/VEijjttgIUUGH6k" target="blank"><i class="pa-2 fab fa-twitter fa-lg"></i> Twitter</a></li>
                
            </ul>
        </div>
    </div>
</nav>
